# Database configuration
DB_HOST=170.64.192.88
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Ta26!ecoNest
DB_DATABASE=econest

# API Keys
OPENWEATHERMAP_API_KEY=26b7b3041941d8e7f9c186d59cbe2d91

# Server configuration
PORT=3000 