# API Keys
GOOGLE_PLACES_API_KEY=AIzaSyCYXqhsEX79wI2-irJhAAiC0X8tuUBAsCQ
VUE_APP_GOOGLE_PLACES_API_KEY=AIzaSyCYXqhsEX79wI2-irJhAAiC0X8tuUBAsCQ

WEATHER_API_KEY=9e1e2c13b3624475a66153849251803
VUE_APP_WEATHER_API_KEY=9e1e2c13b3624475a66153849251803


DB_HOST=34.129.47.53
DB_USER=Ruifeng
DB_PASSWORD=RuifengLiang
DB_NAME=sunscreen_advisor
DB_PORT=3306