# API Keys
GOOGLE_PLACES_API_KEY=AIzaSyCYXqhsEX79wI2-irJhAAiC0X8tuUBAsCQ
VUE_APP_GOOGLE_PLACES_API_KEY=AIzaSyCYXqhsEX79wI2-irJhAAiC0X8tuUBAsCQ

WEATHER_API_KEY=d47c344a5ef0415996334746250803
OPENUV_API_KEY=openuv-9ig6rm8bmqom3-io


DB_HOST=34.129.47.53
DB_USER=Ruifeng
DB_PASSWORD=RuifengLiang
DB_NAME=sunscreen_advisor
DB_PORT=3306